<div id="topFixed">  
      <div id="newTaskDiv">
        <h1>TODO TODAY</h1>
        <form class="form-group task-form">
            <input type="text" class="form-control mt-4 mb-2" id="newTask" placeholder="write your new ToDo here" val="test Task" required> 
            
            <div id="radioButtons">
              
                <div class="radio">
                  <input type="radio" id="allSelected" class="filter" name="filter" value="all" checked>
                  <label for="allSelected">All (<span id="allTotal"></span>) </label>
                </div>
          
                <div class="radio">
                  <input type="radio" id="activeSelected"  class="filter" name="filter" value="active">
                  <label for="activeSelected">Active (<span id="activeTotal"></span>)</label>
                </div>
          
                <div class="radio">
                  <input type="radio" id="completedSelected" class="filter" name="filter" value="completed">
                  <label for="completedSelected">Completed (<span id="completedTotal"></span>)</label>
                </div>
              
            </div>

            <input id="newUnitSubmit" type="submit" class="btn btn-outline-info mb-2" value="Add Item">        
        </form>
      </div>
    </div>  

    <div id="topDiv">

    </div>
    
      <div class="task-container container">

      </div>